<form method="post">
	<table>
	<tr>
		<td>User Name
		<td><input type="text/plain" name="username" value=%(username)s>
		%(a)s
	</tr>
	
	<tr>
		<td>Password
		<td><input type="password" name="password" value=%(password)s>
		%(b)s
	</tr>
	
	<tr>
		<td>Varify Password
		<td><input type="password" name="vpassword" value=%(vpassword)s>
		%(c)s
	</tr>
	
	<tr>
		<td>E-mail(Optional)
		<td><input type="text/plain" name="email">
	</tr>
	
	<tr>
		<td style="text-align:center " colspan="2"><input type="submit">
	</tr>
</form>